body{
	padding-top: 45px;
}

.navbar-collapse{
	background-color:#d9d9d9;
}

#name{
	font-size: 175%;
	font-weight: 500;
	padding-left: 50px;
	/*font-weight: 500;
	font-size: 175%;
	color: #000000;*/
	/*vertical-align: middle;*/
	/*padding-left: 1.5%;*/
	/*line-height: 22.5px !important;*/
}

#first-name-1{
	color:#0095B7;
}

#first-name-2{
	color:#47ABCC;
}

#last-name-1{
	color:#000000;
}

#last-name-2{
	color: #d9d9d9;
}

nav{
	height: 45px;
}

.current-page{
	font-weight: 900;
}

#portfolio{

	font-size: 130%;

}

#contact{
	font-size: 130%;
}

ul{
	padding-right: 2.8%;
}

#container{
	height: 350px;
	padding-top: 45px;
	background: url("../images/northernlights.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}

h1{
	font-size: 450%;
	font-weight: 300;
	word-spacing: .3em;
}

#title{
	color: #ffffff;
	font-size: 175%;
}

.animated-name {
           
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animated-title{

  	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: both;
}
         
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
         
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

#intro-container{
	/*padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	*/
	padding: 3% 5%;
}

#intro-header{
	font-size: 380%;
	font-weight: 300;
}

#introduction{
	padding-top: 1%;
	font-size: 160%;
	font-weight: 300;
}

#skills{
	
	background-color:#333333;
	color: #FFFFFF;
	text-align: center;
}

#skills h3{
	font-size: 240%;
	font-weight: 300;
}

#icons{
	padding-top: 20px;
}

#icons i{
	display: inline-block;
	color: white;
	font-size: 8em;
	padding-bottom: .25em;
	padding-right: .15em;
}

#contact-intro{
	text-align: center;

}

#contact-heading{
	font-size: 350%;
	font-weight: 400;
	letter-spacing: 2px;
}

#thanks{
	padding-top: 2%;
	font-size: 175%;
	font-weight: 300;
}

#contact-info{
	font-size: 150%;
}

#mail-link{
	text-decoration: underline;
}

.form{
	text-align: center;
	font-size: 110%;
}

.row{
	margin-top: 2%;
}

.form label{
	font-weight: 300;
}

#portfolio-container{
	text-align: center;
	margin-top: 3%;
	padding-top: 3%;
	border-top: 1px solid #DCDCDC;
	padding-bottom: 3%;
}

#portfolio-container h3{
	font-size: 300%;
}

#portfolio-container p{
	font-size: 200%;
}