body{
	padding-top: 45px;
}

#name{
	font-size: 175%;
	font-weight: 500;
	padding-left: 50px;
	/*font-weight: 500;
	font-size: 175%;
	color: #000000;*/
	/*vertical-align: middle;*/
	/*padding-left: 1.5%;*/
	/*line-height: 22.5px !important;*/
}

#first-name-1{
	color:#0095B7;
}

#first-name-2{
	color:#47ABCC;
}

#last-name{
	color: #d9d9d9;
}

nav{
	height: 45px;
}
#portfolio{

	font-size: 130%;
	font-weight: 900;

}

#contact{
	font-size: 130%;
}

ul{
	padding-right: 2.8%;
}

#container{
	padding-top: 45px;
	height: 40%;
	background: url("../images/galaxy.jpg");
	background-position: center center;
	background-size: cover;
	text-align: center;
}